<a href="https://colab.research.google.com/github/Bhumireddysusmita/Day1/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name: susmita
Hello, susmita ! Welcome!

In [2]:
print("Hello, World!")

Hello, World!

In [4]:

s = "bhumireddy"
print(s)
s = "susmita"
age = 23
city = "Nellore"
print(s, age, city)

bhumireddy
susmita 23 Nellore

In [9]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Enter two values: 2 3
Number of boys:  2
Number of girls:  3
Enter three values: 3 4 5
Total number of students:  3
Number of boys is :  4
Number of girls is :  5

In [10]:
color = input("What color is rose?: ")
print(color)

What color is rose?: red
red

In [11]:
n = int(input("How many roses?: "))
print(n)

How many roses?: 3
3

In [12]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [13]:

x = 5
name = "Susmita"

print(x)
print(name)

5
Susmita

In [16]:
age = 21
_colour = "lilac"
total_score = 90

In [17]:
1name = "Error"
class = 10
user-name = "Doe"

SyntaxError: invalid decimal literal (ipython-input-128230409.py, line 1)

In [18]:
a = b = c = 100
print(a, b, c)

100 100 100

In [19]:
x, y, z = 1, 2.5, "Python"
print(x, y, z)

1 2.5 Python

In [20]:

s = "10"
n = int(s)
cnt = 5
f = float(cnt)
age = 25
s2 = str(age)

print(n)
print(f)
print(s2)

10
5.0
25

In [21]:

n = 42
f = 3.14
s = "Hello, World!"
li = [1, 2, 3]
d = {'key': 'value'}
bool = True

print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(d))
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

In [23]:

x = 10
print(x)
del x

10

In [24]:
a, b = 5, 10
a, b = b, a
print(a, b)

10 5

In [25]:
word = "Python"
length = len(word)
print("Length of the word:", length)

Length of the word: 6

In [26]:

a = 15
b = 4
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [27]:
a = 13
b = 33
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [28]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [29]:
a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [ ]:
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

In [30]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [31]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [32]:
a, b = 10, 20
min = a if a < b else b
print(min)

10

In [33]:
print(100 / 10 * 10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

100.0
6
0
512

In [34]:
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']