<a href="https://colab.research.google.com/github/Bhumireddysusmita/Day1/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
s = 'Welcome to the Geeks World'
print(s)
print(type(s))
print(s[1])
print(s[2])
print(s[-1])

Welcome to the Geeks World
<class 'str'>
e
l
d

In [4]:

a = []
a = [1, 2, 3]
print(a)
b = ["susmita", "Bhumireddy", 4, 5]
print(b)

[1, 2, 3]
['susmita', 'Bhumireddy', 4, 5]

In [5]:
tup1 = (1, 2, 3, 4, 5)
print(tup1[0])
print(tup1[-1])
print(tup1[-3])

1
5
3

In [6]:
if 1:
    print("1 is truthy")

if not 0:
    print("0 is falsy")

1 is truthy
0 is falsy

In [7]:
set1 = set(["Geeks", "For", "Geeks"])
print(set1)
for i in set1:
   print(i, end=" ")
print("Geeks" in set1)

{'For', 'Geeks'}
For Geeks True

In [8]:

d = {}
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)
d1 = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [9]:
age = 20
if age >= 18:
    print("Eligible to vote.")

Eligible to vote.

In [10]:
age = 10
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

In [12]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [13]:
cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello world")

Hello world
Hello world
Hello world

In [14]:
for letter in 'susmita':
    if letter == 's' or letter == 'm':
        continue
    print('Current Letter :', letter)

Current Letter : u
Current Letter : i
Current Letter : t
Current Letter : a

In [15]:
for letter in 'susmita':
    if letter == 's' or letter == 'm':
        break

print('Current Letter :', letter)

Current Letter : s

In [16]:
for letter in 'susmita':
    pass
print('Last Letter :', letter)

Last Letter : a

In [17]:
def evenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

print(evenOdd(16))
print(evenOdd(7))

Even
Odd

In [18]:
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)

myFun(10)

x:  10
y:  50

In [19]:
def student(fname, lname):
    print(fname, lname)

student(fname='Geeks', lname='Practice')
student(lname='Practice', fname='Geeks')

Geeks Practice
Geeks Practice

In [20]:
def square_value(num):
    return num**2
print(square_value(2))
print(square_value(-4))

4
16

In [21]:

def myFun(x):
    x[0] = 20
lst = [10, 11, 12, 13]
myFun(lst)
print(lst)
def myFun2(x):
    x = 20

a = 10
myFun2(a)
print(a)

[20, 11, 12, 13]
10