<a href="https://colab.research.google.com/github/Bhumireddysusmita/Day1/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [2]:
def tail_fact(n,acc=1):
  if n==0:
    return acc
  else:
    return tail_fact(n-1,acc*n)

def nontail_fact(n):
  if n==1:
    return 1
  else:
    return n*nontail_fact(n-1)
print(tail_fact(5))
print(nontail_fact(5))

120
120

In [3]:

def fun(*args):
    return sum(args)

print(fun(5, 10, 15))


def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, val)

fun(a=1, b=2, c=3)

30
a 1
b 2
c 3

In [4]:
def myFun(*argv):
    for arg in argv:
        print(arg)

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [5]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

print(multiply(2, 3, 4))

24

In [6]:
def fun(**kwargs):
    for k, val in kwargs.items():
        print(k, "=", val)

fun(s1='Python', s2='is', s3='Awesome')

s1 = Python
s2 = is
s3 = Awesome

In [7]:
def student_info(*args, **kwargs):
    print("Subjects:", args)
    print("Details:", kwargs)
student_info("Math", "Science", "English", Name="Alice", Age=20, City="New York")

Subjects: ('Math', 'Science', 'English')
Details: {'Name': 'Alice', 'Age': 20, 'City': 'New York'}

In [8]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display(self):
        return self.brand, self.model

car1 = Car("Toyota", "Corolla")
print(car1.display())

('Toyota', 'Corolla')

In [9]:
def msg(name):
    return f"Hello, {name}!"
f = msg
print(f("Emma"))

Hello, Emma!

In [10]:
def msg(name):
    return f"Hello, {name}!"

def fun1(fun2, name):
    return fun2(name)
print(fun1(msg, "Alex"))

Hello, Alex!

In [11]:
def fun1(msg):
    def fun2():
        return f"Message: {msg}"
    return fun2
func = fun1("Hello, World!")
print(func())

Message: Hello, World!

In [12]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y
d = {
    "add": add,
    "subtract": subtract
}
print(d["add"](5, 3))
print(d["subtract"](5, 3))

8
2

In [13]:
n = lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "Zero"
print(n(5))
print(n(-3))
print(n(0))

Positive
Negative
Zero

In [16]:
n = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x % 2 == 0, n)
print(list(even))

[2, 4, 6]

In [14]:
a = [1, 2, 3, 4]
b = map(lambda x: x * 2, a)
print(list(b))

[2, 4, 6, 8]

In [15]:
from functools import reduce
a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24