<a href="https://colab.research.google.com/github/Bhumireddysusmita/Day1/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def fun1(msg):
  def fun2():
    print(msg)
  fun2()
fun1("Hello")

Hello

In [3]:
def fun1():
  msg=" hii! Susmita"
  def fun2():
    print(msg)
  fun2()
fun1()

 hii! Susmita

In [5]:
def fun1():
  a=23
  def fun2():
    nonlocal a
    a=45
    print(a)
  fun2()
  print(a)
fun1()

45
45

In [6]:
def fun1(a):
  def fun2():
    print(a)
  return fun2
closure_func=fun1("Hello, closure")
closure_func()

Hello, closure

In [7]:
def fun1(func):
    def fun2():
        print("hii")
        func()
        print("exit")
    return fun2
@fun1
def greet():
    print("hello")
greet()

hii
hello
exit

In [8]:

def greet(n):
    return f"Hello, {n}!"
say_hi = greet
print(say_hi("Alice"))

def apply(f, v):
    return f(v)
res = apply(say_hi, "Bob")
print(res)

def make_mult(f):
    def mult(x):
        return x * f
    return mult
dbl = make_mult(2)
print(dbl(5))

Hello, Alice!
Hello, Bob!
10

In [9]:
def fun1(func):
    def fun2():
        print(">>> Starting function")
        func()
        print(">>> Function finished")
    return fun2

@fun1
def greet():
    print("Hello, World!")
greet()

>>> Starting function
Hello, World!
>>> Function finished

In [10]:
s1 = 'GfG'  # single quote
s2 = "GfG"  # double quote
print(s1)
print(s2)

GfG
GfG

In [11]:
s = "susmita"
print(s[0])   # first character
print(s[4])   # 5th character

s
i

In [12]:
s = "susmita"
print(s[1:4])
print(s[:3])
print(s[3:])
print(s[::-1])

usm
sus
mita
atimsus

In [13]:
s = "Python"
for char in s:
    print(char)

P
y
t
h
o
n

In [15]:
s = "   Gfg   "
print(s.strip())

s = "Python is fun"
print(s.replace("fun", "awesome"))

Gfg
Python is awesome

In [16]:
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 22

In [17]:
a = [1, 2, 3, 4, 5]
b = ['apple', 'banana', 'cherry']
c = [1, 'hello', 3.14, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [18]:
a = [10, 20, 30, 40, 50]
print(a[0])
print(a[-1])
print(a[1:4])

10
50
[20, 30, 40]

In [20]:
a = []

a.append(10)
print("After append(10):", a)

a.insert(0, 5)
print("After insert(0, 5):", a)

a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

a.clear()
print("After clear():", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
After clear(): []

In [21]:
a = [10, 20, 30, 40, 50]
a[1] = 25
print(a)

[10, 25, 30, 40, 50]

In [22]:
a.remove(30)
print("After remove(30):", a)

After remove(30): [10, 25, 40, 50]

In [23]:
a = ['apple', 'banana', 'cherry']
for item in a:
    print(item)

apple
banana
cherry

In [24]:
tup = (5, 'Welcome', 7, 'Geeks')
print(tup)

(5, 'Welcome', 7, 'Geeks')

In [25]:

tup = tuple("Geeks")
print(tup[0])
print(tup[1:4])
print(tup[:3])
tup = ("Geeks", "For", "Geeks")
a, b, c = tup
print(a)
print(b)
print(c)

G
('e', 'e', 'k')
('G', 'e', 'e')
Geeks
For
Geeks

In [26]:
tup1 = (0, 1, 2, 3)
tup2 = ('Geeks', 'For', 'Geeks')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [27]:
tup = tuple('GEEKSFORGEEKS')
print(tup[1:])
print(tup[::-1])
print(tup[4:9])

('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')
('S', 'F', 'O', 'R', 'G')

In [30]:
tup = (1, 2, 3, 4, 5)

a, *b, c = tup

print(a)
print(b)
print(c)

1
[2, 3, 4]
5